<div class="d-flex justify-content-center">
    <form>
        <h1 class="h3 mb-3 fw-normal">Ya se encuentra registrado?</h1>
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput"
                placeholder="name@example.com">
            <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control"
                id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Contraseña</label>
        </div>
        <div class="checkbox mb-3"></div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar!</button>
        <p></p>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-info" (click)="loguear(usuariosDePrueba[0].email, usuariosDePrueba[0].pass)">Paciente</button>
            <button type="button" class="btn btn-info" (click)="loguear(usuariosDePrueba[1].email, usuariosDePrueba[1].pass)">Especialista</button>
            <button type="button" class="btn btn-info" (click)="loguear(usuariosDePrueba[2].email, usuariosDePrueba[2].pass)">Admin</button>
          </div>
    </form>
</div>